<a href="https://colab.research.google.com/github/T4rantell/Training_Python/blob/main/Esercizi_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Training su Python**

##**Installazione ed uso di Git**

Partiremo dalla creazione di una cartella in locale per poi collegarla ad una nostra repository su Github; sarà necessaria l'applicazione per Desktop di Git:

In [ ]:
mkdir esercizi_python

cd esercizi_python

git init

git clone https://github.com/T4rantell/nome_repository

#inserire manualmente il file scaricato da colab nella cartella creata in locale

git add .

git config --global user.name "username"

git config --global user.email "mail"

git commit -m "nome file di colab"

git branch -M main

git remote add origin https://github.com/T4rantell/Training_Python

git push -u origin main

##**Esercizi in Python: VARIABILI**


**Esercizio 1**

Dichiarare una variabile "nome" e assegnargli il tuo nome. Mandare a schermo.

In [ ]:
name = "Marco"
print(name)

Marco



---

**Esercizio 2**

Dichiarare una variabile "eta" e assegnargli la tua età. Mandare a schermo.

In [ ]:
age = "26"
print(age)

26



---

**Esercizio 3**

Dichiarare una variabile "pi" e assegnargli il valore di pi greco (3,14159). Mandare a schermo.

In [ ]:
import numpy
pi = numpy.pi
print(pi)

3.141592653589793



---

**Esercizio 4**

Creare una variabile "lunghezza" e assegnargli un valore, quindi riassegnare la variabile a 15. Mandare a schermo.

In [ ]:
lenght = 27
print(lenght)
lenght = 15
print(lenght)

27
15



---

**Esercizio 5**

Creare una variabile "nome_completo" e assegnargli una stringa contenente il tuo nome e cognome. Mandare a schermo

In [ ]:
nome="Marco"
cognome="Montella"
nome_completo = nome + " " + cognome
print(nome_completo)

Marco Montella



---

**Esercizio 6**

Creare una variabile "eta_futura" e assegnargli il valore dell'età che avrai tra 10 anni (utilizzando la variabile età già esistente). Mandare a schermo.

In [ ]:
age = 26
future_age= 26 + 10
print(future_age)

36



---

**Esercizio 6**

Creare delle variabili "nome", "cognome" ed "anno_di_nascita" ed assegnargli i valori. Mandare a schermo in un unico print. Sovrascrivere tutte le variabili e rimandare a schermo una seconda volta.

In [ ]:
nome="Marco"
cognome="Montella"
anno_di_nascita=1999

print(nome,cognome,anno_di_nascita)
print("{} {} {}".format(nome, cognome, anno_di_nascita))

nome="Mao"
cognome="Moa"
anno_di_nascita=1

print(nome,cognome,anno_di_nascita)
print("{} {} {}".format(nome, cognome, anno_di_nascita))

Marco Montella 1999
Marco Montella 1999
Mao Moa 1
Mao Moa 1

**Esercizio 8**

Creare una variabile eta_attuale e assegnargli il valore dell'età che hai attualmente, calcolandola in base all'anno corrente. Mandare a schermo eta_attuale

In [ ]:
anno_di_nascita = 1999
anno_corrente= 2025
print(anno_corrente-anno_di_nascita)

26

**Esercizio 9**

Dichiarare una variabile "numero_intero" e assegnargli un valore intero. Mandare a schermo il tipo della variabile per conferma

In [ ]:
numero = int(10)
print(type(numero))

<class 'int'>



---

***Esercizio 10***

Dichiarare una variabile "numero_decimale" e assegnargli un valore float. Mandare a schermo il tipo della variabile per conferma.

In [ ]:
numero_decimale = float(10.12345126424)
print(type(numero_decimale))

<class 'float'>



---

**Esercizio 11**

Creare una lista "numeri" contenente 5 numeri interi. Mandare a schermo il tipo della variabile per conferma.

In [ ]:
numeri = [1,2,3,4,5]
print(type(numeri))

<class 'list'>



---

**Esercizio 12**

Creare una lista "misti" contenente un numero intero, un numero float, una stringa e un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [ ]:
misti = [1, 1.2, "misti", True]
print(type(misti))

<class 'list'>



---

## **Differenze tra Tuple, Liste e Dizionari:**


-Tuple: Sono immutabili. Una volta che una tupla è stata creata, non puoi modificarne gli elementi; vengono definite e richiamate con le "()"

-Liste: Sono mutabili. Puoi aggiungere, rimuovere e modificare gli elementi in una lista; vengono definite e richiamate con le "[]"

-Dizionari: Usano chiavi uniche per accedere ai valori. Sono mutabili. Puoi aggiungere, rimuovere e modificare le coppie chiave-valore; vengono definite e richiaamte con le "{}"

###**Esercizi**

---

**Esercizio 13**

Creare una tupla "giorni_settimana" contenente i giorni della settimana come stringhe. Mandare a schermo il tipo della variabile per conferma.

In [1]:
giorni_settimana = ("Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato", "Domenica")
print(type(giorni_settimana))
print(giorni_settimana[1])
print(giorni_settimana[0])

<class 'tuple'>
Martedì
Lunedì



---

**Esercizio 14**

Creare un dizionario "informazioni_personali" contenente il tuo nome, cognome, età e città di residenza. Mandare a schermo il tipo della variabile per conferma.

In [2]:
informazioni_personali = {"nome": "Marco", "cognome": "Montella", "età": 26, "citta": "Milano"}
print(type(informazioni_personali))
print("Nome: " + informazioni_personali["nome"])
print("Età: " +str(informazioni_personali["età"]))

<class 'dict'>
Nome: Marco
Età: 26

---

##**Funzioni in Python**

Vengono definite con "def", e richiamate utilizzando il nome che gli è stato assegnato.

Le variabili definite all'interno di una funzione hanno scope locale. Non saranno richiamabili al di fuori delle funzioni stesse.

Per avere variabili globali basterà definirle

###**Esercizi**

**Esercizio 15**

A) Definiamo una funzione "stampa2volte" che stampa a schermo 2 volte un valore passato come argomento. Richiamiamola.

B) Definiamo una funzione stampa_unione, che concatena due valori passati come argomenti, e  li stampa a schermo separati da spazi. Richiamiamola.



---

In [ ]:
#A)
def stampa2volte(valore):
  print(valore, valore)

stampa2volte("marco")

#B)
def stampa_unione(valore, valore2):
  unione= valore + " " + valore2
  print(unione)

stampa_unione("marco", "montella")

marco marco
marco montella

---

## **Operatore Modulo "%"**
Restituisce il resto della divisione tra 2 numeri;

Molto utile per filtrare numeri pari e dispari:

  "numero_pari" % 2 = 0

  "numero_dispari" % 2 = 1

## **Cicli "for", "while"; e condizioni "if", "elif" ed "else"**

###**Esercizi**

**Esercizio 16**

Creiamo una variabile "numeri", contiene i numeri da 1 a 10.

Stampiamo a schermo il valore di ogni numero, seguito da "è pari"/"è dispari".

In [ ]:
numeri= range(0, 10)
for i in numeri:
  if i == 0:
    print(f"{i} è neutro")
  elif i % 2 == 0:
    print(f"{i} è pari")
  else:
    print(f"{i} è dispari")

0 è neutro
1 è dispari
2 è pari
3 è dispari
4 è pari
5 è dispari
6 è pari
7 è dispari
8 è pari
9 è dispari

---

**Esercizio 17**

Scrivi una funzione che confronta i valori x e y: restituisce true se uguali, false se diversi

In [8]:
x = 5
y = 5

def confronta(x, y):

  if x==y:
    return True
  else:
    return False

uguali = confronta(x, y)
print(" x ed y sono uguali: " + str(uguali))

 x ed y sono uguali: True



---

###**Operatore return**

L'operatore "return" permette di terminare l'esecuzione di un programma in maniera prematura quando si verificano delle condizioni.

Esercizio 18

Scrivi una funzione Log che accetta solo numeri positivi, e ne calcola il logaritmo.

In [14]:
import math

numero = input("Inserisci un numero: ")
x = float(numero)


def log (x):
  if  x <= 0:
    print("inserire un valore positivo per x")
    return
  else:
    return math.log(x)

print(log(x))

Inserisci un numero: 0
inserire un valore positivo per x
None



---

##**Esercizi**

**Esercizio 19**

Scrivi una funzione "fibonacci" che dato un numero "n", restituisce solo i primi "n" numeri della serie di Fibonacci.

In [24]:
# Input utente
numero = input("Inserisci un numero: ")
n = int(numero)

def fibonacci(n):
    serie = [0, 1]  # Inizializza la lista con i primi due numeri di Fibonacci
    for i in range(2, n):
        serie.append(serie[i - 1] + serie[i - 2])  # Aggiunge il nuovo numero
    return serie[:n]  # Restituisce solo i primi 'n' numeri della sequenza


# Output della serie di Fibonacci fino a n
print(fibonacci(n))

Inserisci un numero: 4
[0, 1, 1, 2]



---

**Esercizio 20**

Utilizzo di "range()" in Python.

In [31]:
numeri = list(range(0,10))
print(numeri)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
for i in range(0, 10):
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9



---

**Esercizio 21**

Dichiarare due variabili "numero1" e "numero2" e assegnargli due numeri interi. Eseguire l'addizione tra le due variabili e assegnare il risultato ad una nuova variabile "somma", mandandola a schermo

In [43]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def somma (a, b):
  return a + b

print("la somma dei due numeri è: ", somma(a, b))

Inserisci il primo numero: 2
Inserisci il secondo numero: 2
la somma dei due numeri è:  4

In [40]:
somma = 0

for i in range(0, 2):
  numero = int(input("Inserisci un numero: "))
  somma += numero

print("la somma dei numeri è: ", somma)

Inserisci un numero: 7
Inserisci un numero: 0
la somma dei numeri è:  7



---

**Esercizio 22**

Sottrazione.

In [42]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def differenza (a, b):
  return a - b

print("la differenza dei due numeri è: ", differenza(a, b))

Inserisci il primo numero: 10
Inserisci il secondo numero: 7
la differenza dei due numeri è:  3

**Esercizio 23**

Moltiplicazione.

In [44]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def moltiplicazione (a, b):
  return a * b

print("la moltiplicazione tra i due numeri è: ", moltiplicazione(a, b))

Inserisci il primo numero: 3
Inserisci il secondo numero: 2
la moltiplicazione tra i due numeri è:  6



---

**Esercizio 24**

Divisione.

In [48]:
a = int(input("Inserisci il divisore: "))
b = int(input("Inserisci il dividendo: "))

def divisione (a, b):
  return a / b

print("la divisione tra i due numeri è: ", divisione(a, b))

Inserisci il divisore: 10
Inserisci il dividendo: 3
la divisione tra i due numeri è:  3.3333333333333335



---

**Esercizio 25**

Modulo.

In [51]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def modulo (a, b):
  return a % b

print("il modulo tra i due numeri è: ", modulo(a, b))

Inserisci il divisore: 7
Inserisci il dividendo: 3
il modulo tra i due numeri è:  1



---

**Esercizio 26**

Incrementare "numero1" di 1 e decrementare "numero2" di 3. Mandare a schermo i nuovi valori.

In [69]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def modifica (a, b):
  n1 = a + 1
  n2 = b - 3
  return (n1, n2)

print("I due nuovi numeri sono: ", modifica(a, b))

Inserisci il primo numero: 10
Inserisci il secondo numero: 5
I due nuovi numeri sono:  (11, 2)



---

**Esercizio 27**

Moltiplicare "numero1" per se stesso + 5, sommarlo quindi a "numero2" elevato alla seconda. Assegnare l'operazione alla variabile risultato e mandare a schermo.

In [75]:
a = int(input("Inserisci il primo numero: "))
b = int(input("Inserisci il secondo numero: "))

def modifica (a, b):
  n1 = a*(a+5)
  print("il primo numero è diventato: ", n1)
  n2 = b**2
  print("il secondo numero è diventato: ", n2)
  n3 = n1 + n2
  return (n3)

print("La somma tra i due nuovi numeri è: ", modifica(a, b))

Inserisci il primo numero: 5
Inserisci il secondo numero: 4
il primo numero è diventato:  50
il secondo numero è diventato:  16
La somma tra i due nuovi numeri è:  66



---