<a href="https://colab.research.google.com/github/T4rantell/Training_Python/blob/main/Esercizi_Python_Variabili_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Training su Python**

Partiremo dalla creazione di una cartella in locale per poi collegarla ad una nostra repository su Github; sarà necessaria l'applicazione per Desktop di Git:

In [ ]:
mkdir esercizi_python

cd esercizi_python

git init

#inserire manualmente il file scaricato da colab nella cartella creata in locale

git add .

git config --global user.name "username"

git config --global user.email "mail"

git commit -m "nome file di colab"

git branch -M main

git remote add origin https://github.com/T4rantell/Training_Python

git push -u origin main


**Esercizio 1**

Dichiarare una variabile "nome" e assegnargli il tuo nome. Mandare a schermo.

In [3]:
name = "Marco"
print(name)

Marco



---

**Esercizio 2**

Dichiarare una variabile "eta" e assegnargli la tua età. Mandare a schermo.

In [4]:
age = "26"
print(age)

26



---

**Esercizio 3**

Dichiarare una variabile "pi" e assegnargli il valore di pi greco (3,14159). Mandare a schermo.

In [5]:
import numpy
pi = numpy.pi
print(pi)

3.141592653589793



---

**Esercizio 4**

Creare una variabile "lunghezza" e assegnargli un valore, quindi riassegnare la variabile a 15. Mandare a schermo.

In [6]:
lenght = 27
print(lenght)
lenght = 15
print(lenght)

27
15



---

**Esercizio 5**

Creare una variabile "nome_completo" e assegnargli una stringa contenente il tuo nome e cognome. Mandare a schermo

In [13]:
nome="Marco"
cognome="Montella"
nome_completo = nome + " " + cognome
print(nome_completo)

Marco Montella



---

**Esercizio 6**

Creare una variabile "eta_futura" e assegnargli il valore dell'età che avrai tra 10 anni (utilizzando la variabile età già esistente). Mandare a schermo.

In [15]:
age = 26
future_age= 26 + 10
print(future_age)

36



---

**Esercizio 6**

Creare delle variabili "nome", "cognome" ed "anno_di_nascita" ed assegnargli i valori. Mandare a schermo in un unico print. Sovrascrivere tutte le variabili e rimandare a schermo una seconda volta.

In [20]:
nome="Marco"
cognome="Montella"
anno_di_nascita=1999
print(nome,cognome,anno_di_nascita)
print("{} {} {}".format(nome, cognome, anno_di_nascita))
nome="Mao"
cognome="Moa"
anno_di_nascita=1
print(nome,cognome,anno_di_nascita)
print("{} {} {}".format(nome, cognome, anno_di_nascita))

Marco Montella 1999
Marco Montella 1999
Mao Moa 1
Mao Moa 1

**Esercizio 8**

Creare una variabile eta_attuale e assegnargli il valore dell'età che hai attualmente, calcolandola in base all'anno corrente. Mandare a schermo eta_attuale

In [21]:
anno_di_nascita = 1999
anno_corrente= 2025
print(anno_corrente-anno_di_nascita)

26

**Esercizio 9**

Dichiarare una variabile "numero_intero" e assegnargli un valore intero. Mandare a schermo il tipo della variabile per conferma

In [32]:
numero = int(10)
print(type(numero))

<class 'int'>



---

***Esercizio 10***

Dichiarare una variabile "numero_decimale" e assegnargli un valore float. Mandare a schermo il tipo della variabile per conferma.

In [33]:
numero_decimale = float(10.12345126424)
print(type(numero_decimale))

<class 'float'>



---

**Esercizio 11**

Creare una lista "numeri" contenente 5 numeri interi. Mandare a schermo il tipo della variabile per conferma.

In [34]:
numeri = [1,2,3,4,5]
print(type(numeri))

<class 'list'>



---

**Esercizio 12**

Creare una lista "misti" contenente un numero intero, un numero float, una stringa e un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [35]:
misti = [1, 1.2, "misti", True]
print(type(misti))

<class 'list'>



---

## **Differenze tra Tuple, Liste e Dizionari:**


-Tuple: Sono immutabili. Una volta che una tupla è stata creata, non puoi modificarne gli elementi; vengono definite e richiamate con le "()"

-Liste: Sono mutabili. Puoi aggiungere, rimuovere e modificare gli elementi in una lista; vengono definite e richiamate con le "[]"

-Dizionari: Usano chiavi uniche per accedere ai valori. Sono mutabili. Puoi aggiungere, rimuovere e modificare le coppie chiave-valore; vengono definite e richiaamte con le "{}"

---

**Esercizio 13**

Creare una tupla "giorni_settimana" contenente i giorni della settimana come stringhe. Mandare a schermo il tipo della variabile per conferma.

In [46]:
giorni_settimana = ("Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato", "Domenica")
print(type(giorni_settimana))
print(giorni_settimana[1])
print(giorni_settimana[0])

<class 'tuple'>
Martedì
Lunedì



---

**Esercizio 14**

Creare un dizionario "informazioni_personali" contenente il tuo nome, cognome, età e città di residenza. Mandare a schermo il tipo della variabile per conferma.

In [43]:
informazioni_personali = {"nome": "Marco", "cognome": "Montella", "età": 26, "citta": "Milano"}
print(type(informazioni_personali))
print("Nome: " + informazioni_personali["nome"])
print("Età: " +str(informazioni_personali["età"]))

<class 'dict'>
Nome: Marco
Età: 26



---